#cloud-config

hostname: logger

package_update: true
package_upgrade: true

ssh_pwauth: true

users:
  - default
  - name: vagrant
    groups: sudo
    shell: /bin/bash
    sudo: ['ALL=(ALL) NOPASSWD:ALL']
    lock_passwd: false
    hashed_passwd: "$6$mDwwliMtcfIG$U3whNLGDMn0BR9Wh5SILnXxir.VIIJgWMl3l4m6/1v8nK6EBiyf0FvWhXDwZPHGmB4kT57A81wHtI9lkYe/1i1" # It's "vagrant"
    ssh_authorized_keys:
      - "${auth_key}"