name: 'Destroy'

on:
  workflow_dispatch:
  schedule:
    - cron: "0 14 * * *"

permissions:
  contents: read

jobs:
  terraform_destroy:
    runs-on: ubuntu-latest
    env: 
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_KEY }}
      TF_VAR_public_key: ${{ secrets.PUBLIC_KEY }}      
      TF_VAR_my_ip: ${{ secrets.MY_IP }}

    # Use the Bash shell regardless whether the GitHub Actions runner is ubuntu-latest, macos-latest, or windows-latest
    defaults:
      run:
        shell: bash

    steps:
    # Checkout the repository to the GitHub Actions runner
    - name: Checkout
      uses: actions/checkout@v3

    # Install the latest version of Terraform CLI and configure the Terraform CLI configuration file with a Terraform Cloud user API token
    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v1
      with:
        terraform_wrapper: false

    # Get the public IP of the github runner to use in TF code
    - name: Runner IP
      id: Runner_IP
      run: |
        echo "TF_VAR_runner_ip=$(curl ifconfig.me)" >> $GITHUB_ENV

    # Checks that all Terraform configuration files adhere to a canonical format
    - name: Terraform Format
      working-directory: ./AWS/Terraform_Ansible
      run: terraform fmt -check -recursive

    # Initialize a new or existing Terraform working directory by creating initial files, loading any remote state, downloading modules, etc.
    - name: Terraform Init AWS
      working-directory: ./AWS/Terraform_Ansible
      run: terraform init -backend-config="backend.hcl"

    # Destroys all infra
    - name: Terraform Destroy AWS
      working-directory: ./AWS/Terraform_Ansible
      run: terraform destroy -auto-approve